/**
 * CSS file to stylize the admin area of SSLCommerz plugin
 * @author: GoodKoding
 * @author_url: http://goodkoding.com
 **/
.gk-sslcommerz-options h3 {
    cursor: pointer;
    padding: 10px;
    background: #CCCCCC;
    color: #666666;
}

.gk-sslcommerz-options h3 span.dashicons {
    float: right;
}

.gk-sslcommerz-options h3.active {
    background: #333333;
    color: #CCCCCC;
}

.gk-sslcommerz-options input[type=text],
.gk-sslcommerz-options input[type=password],
.gk-sslcommerz-options input[type=number],
.gk-sslcommerz-options input[type=url],
.gk-sslcommerz-options select,
.gk-sslcommerz-options textarea {
    width: 300px;
    max-width: 100%;
    padding: 5px;
}

.gk-sslcommerz-options select {
    padding: 0 5px;
}

.gk-sslcommerz-options textarea {
    width: 450px;
    height: 120px;
}